@model Mercury.Backoffice.Models.RaceEventViewModel
@using Mercury.Backoffice.Controllers;
@{
    ViewBag.Title = "Edit Race Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int? EventTypeId = Model.EventTypeId;
    var EventTypeList = RaceController.GetRaceEventTypeLOV2();

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Race</a>
            </li>
            <li>
                <a>Race Event</a>
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        @*<div class="col-lg-12">*@
        <div class="ibox ">
            <div class="ibox-title">
                @*<h5>Search</h5>*@
                <div>
                    @Html.ActionLink("Back to List", "RaceEventList")
                </div>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.EventId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.EventName, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.EventName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EventName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EventTypeId, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                <div class="dropdown">
                                    @Html.DropDownListFor(m => m.EventTypeId, new SelectList(EventTypeList, "EventTypeId", "EventTypeName"), "Please Select", new { @class = "form-control select", @onchange = "", @id = "ddlRaceEventType" })
                                </div>
                                @*@Html.TextBoxFor(model => model.EventTypeId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EventTypeId)*@
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsCharity, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.IsCharity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsCharity)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsTimingChip, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.IsTimingChip, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsTimingChip)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EventVenue, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.EventVenue, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EventVenue)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EventOrganiser, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.EventOrganiser, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EventOrganiser)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EventStartOn, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.EventStartOn, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EventStartOn)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EventEndOn, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.EventEndOn, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EventEndOn)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.IsActive, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-11">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*</div>*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
