@model IEnumerable<Mercury.Backoffice.Models.ApplicationUser>
@{
    ViewBag.Title = "Users Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Management</a>
            </li>
            <li class="active">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        @*<div class="col-lg-12">*@
        <div class="ibox ">
            <div class="ibox-title">
                @*<h5>Filter</h5>*@
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-5">
                            @Html.TextBox("txtSearchString", "", new { @class = "form-control", @placeholder = "Search by User Name, Display Address" })<br />
                            <input id="btnSearch" type="submit" value="Search" class="btn btn-default" />
                            <input id="btnSearchClear" type="submit" value="Clear" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;@Html.ActionLink("Create New", "UserCreate")
                </p>

                <div class="table-responsive">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>

                @*<div class="table-responsive">
                    <table class="tbl-primary" id="grid" data-source="@Url.Action("GetUserGrid", "Management")"></table>
                </div>*@

            </div>
        </div>
        @*</div>*@
    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        Add a table header for the Address info:
        <th>
            @Html.DisplayNameFor(model => model.DisplayAddress)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                Add table data for the Address info:
                @Html.DisplayFor(modelItem => item.DisplayAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "UserEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "UserDetail", new { id = item.Id }) |
                @Html.ActionLink("Delete", "UserDelete", new { id = item.Id })
            </td>
        </tr>
    }
</table>*@


@*@section Styles {
    @Styles.Render("~/Content/plugins/gijgo/gridStyle")
}*@

@section Styles{
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
}

@section Scripts {
    @*@Scripts.Render("~/plugins/gijgo/grid")*@
    @Scripts.Render("~/plugins/jqGrid")

    <script type="text/javascript">
        $("#btnSearch").on("click", function () {
            event.preventDefault();
            SearchGrid();
        });

        $("#btnSearchClear").on("click", function () {
            ClearSearch();
        })

        $(document).ready(function () {
            var grd;
            $("#grid").jqGrid({
                url: '@Url.Action("GetUserGrid", "Management")',
                datatype: 'JSON',
                mtype: 'GET',
                colNames: ['Id', 'User Name', 'Address', 'Edit', 'Delete'],
                colModel: [
                    { key: true, hidden: true, name: 'Id', index: 'Id', editable: true, width: '20%' },
                    { key: false, name: 'UserName', index: 'UserName', editable: true, width: '20%' },
                    { key: false, name: 'Address', index: 'Address', editable: true, width: '20%' },
                    { key: false, name: 'Edit', index: 'Edit', editable: true, formatter: EditLink, align: 'center', width: '5%' },
                    { key: false, name: 'Delete', index: 'Delete', editable: true, formatter: DeleteLink, align: 'center', width: '5%' }
                ],
                pager: jQuery('#pager'),
                rowNum: 10,
                rowList: [10, 20, 30, 40],
                height: '100%',
                viewrecords: true,
                caption: 'Race Event List',
                loadince: false,
                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    Id: "0"
                },
                autowidth: true,
                multiselect: false,
            }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: true });
            $(".ui-jqgrid-titlebar").hide();

            function EditLink(cellvalue, options, rowObject) {

                var url = '@Html.Raw(@Url.Action("UserEdit", "Management", new { id = "_id_" }))';
                var newUrl = url.replace("_id_", rowObject.Id);
                return "<a href=" + newUrl + "><i class='glyphicon glyphicon-pencil'></i></a>";
            }


            function DeleteLink(cellvalue, options, rowObject) {

                var url = '@Html.Raw(@Url.Action("UserDelete", "Management", new { id = "_id_" }))';
                var newUrl = url.replace("_id_", rowObject.Id);
                return "<a href=" + newUrl + "><i class='glyphicon glyphicon-remove'></i></a>";
            }


            @*var grd;
            grd = $("#grid").grid({
                dataKey: "Id",
                dataSource: { url: "GetUserGrid", data: {}, cache: false, success: function (result) { grd.render(result); } },
                uiLibrary: "bootstrap",
                responsive: true,
                autoLoad: true,
                columns: [
                    { field: "Id", title: "ID", width: "10%", hidden: true, width: 0 },
                    { field: "UserName", title: "UserName", width: "20%", sortable: true },
                    { field: "DisplayAddress", title: "DisplayAddress", width: "50%" },
                    //{ field: "View", title: "", width: 34, type: "icon", icon: "glyphicon glyphicon-list-alt", tooltip: "View", events: { "click": View } },
                    { field: "Edit", title: "", width: 34, type: "icon", icon: "glyphicon-pencil", tooltip: "Edit", events: { "click": Edit } },
                    { field: "Delete", title: "", width: 34, type: "icon", icon: "glyphicon-remove", tooltip: "Edit", events: { "click": Delete } }
                ],
                pager: { enable: true, limit: 10, sizes: [5, 10, 20] }
            });

            function View(e) {
                var url = '@Html.Raw(@Url.Action("UserDetail", "Management", new { id = "_id_" }))';
                var newUrl = url.replace("_id_", e.data.record.Id);
                window.location.href = newUrl;
            }

            function Edit(e) {

                //window.location.href = "/ContractorManagement/Contractor/TechFrom/" + e.data.id;

                var url = '@Html.Raw(@Url.Action("UserEdit", "Management", new { id = "_id_" }))';
                var newUrl = url.replace("_id_", e.data.record.Id);
                window.location.href = newUrl;
            }

            function Delete(e) {

                //window.location.href = "/ContractorManagement/Contractor/TechFrom/" + e.data.id;

                var url = '@Html.Raw(@Url.Action("UserDelete", "Management", new { id = "_id_" }))';
                var newUrl = url.replace("_id_", e.data.record.Id);
                window.location.href = newUrl;
            }*@

        });

        function SearchGrid() {
            //$("#grid").grid().reload({ page: 1, isSearch: true, searchString: $("#txtSearchString").val() });
            //$("#grid").grid().reload({ page: 1, isSearch: false, searchString: $("#txtSearchString").val() });

            //var postDataValues = $("#grid").jqGrid('getGridParam', 'postData');

            //$('.filterItem').each(function (index, item) {
            //    postDataValues[$(item).attr('id')] = $(item).val();
            //});

            //$("#grid").jqGrid().setGridParam({ postData: postDataValues, page: 1 }).trigger('reloadGrid');

            $("#grid").jqGrid().setGridParam({ postData: { searchString: $("#txtSearchString").val() } }).trigger('reloadGrid');

            //$('#grid').jqGrid().trigger('reloadGrid', { page: 1, isSearch: true, searchString: '2009' });
            //$('#grid').jqGrid().trigger('reloadGrid', { page: 1, isSearch: false, searchString: '2009' });

        }

        function ClearSearch() {
            $("#txtSearchString").val("");
            SearchGrid();
        }

    </script>
}