@model Mercury.Backoffice.Models.ApplicationUser
@{
    ViewBag.Title = "User Role Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a>Management</a>
            </li>
            <li>
                <a>User</a>
            </li>
            <li class="active">
                <strong>View</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        @*<div class="col-lg-12">*@
        <div class="ibox ">
            @*<div class="ibox-title">
                    <h5>Search</h5>
                </div>*@
            <div class="ibox-content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>
            </div>

            <div class="ibox-content">
                <h4>List of roles for this user</h4>
                @if (ViewBag.RoleNames.Count == 0)
                {
                    <hr />
                    <p>No roles found for this user.</p>
                }
                <table class="table">
                    @foreach (var item in ViewBag.RoleNames)
                    {
                        <tr>
                            <td>
                                <i class="fa fa-dot-circle-o"></i>&nbsp;@item
                            </td>
                        </tr>
                    }
                </table>
                <p>
                    @Html.ActionLink("Edit", "UserEdit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "UserList")
                </p>
            </div>
        </div>
    </div>
    @*</div>*@
</div>

